@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-50;
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
